server:
  port: 8080

spring:
  application:
    name: albaraka-bank
  
  datasource:
    url: ${DB_URL:jdbc:postgresql://localhost:5432/albaraka_db}
    username: ${DB_USER}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver
  
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect
  
  servlet:
    multipart:
      enabled: true
      max-file-size: 5MB
      max-request-size: 5MB

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: ${KEYCLOAK_ISSUER_URI:http://localhost:8180/realms/albaraka}
  
  ai:
    openai:
      api-key: ${SPRING_AI_GOOGLE_GEMINI_API_KEY}
      base-url: https://generativelanguage.googleapis.com/v1beta/openai/
      chat:
        options:
          model: gemini-3-flash-preview

jwt:
  secret: ${JWT_SECRET}
  expiration: 86400000

keycloak:
  enabled: ${KEYCLOAK_ENABLED:false}

file:
  upload-dir: ${UPLOAD_DIR:./uploads}
